/* latitude part of navbar */
.navbar-brand {
    background-color: #015758;
    color: white;
    padding: 10px;
}
/* hover over link color */
.hover-link:hover {
    color: #D3D3D3;
}

/* text in the navbar menu */
.nav-link {
    color: #272727;
}

/* text for the dropdown navbar menu */
#navbarDropdownMenuLink {
    color: #272727;
}
/* overall navbar */
.navbar {
    margin: 10px;
    background-color: white;
}

/* color of the body boxes */
.bg-offwhite {
    background-color: white;
}

/* body container background */
#bg-grey {
    background-color: #D3D3D3;
} 

/* header text */
.text-teal {
    color: #015758;
    padding-top: 15px;
}


/* visualization borders */
#border-1 {
    border: 3px solid #015758;
}
#border-2 {
    border: 3px solid #015758;
}
#border-3 {
    border: 3px solid #015758;
}
#border-4 {
    border: 3px solid #015758;
}

/* comparison page images */
.center {
    margin-left: auto;
    margin-right: auto;
}

/* data page table */
.data-table {
    margin-left: auto;
    margin-right: auto;
    border: 0px;
}

/* indv plot pages */
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

/* home page text to go next to img */
#main-text {
    display: inline-flex;
}

/* data table align center and zebra colored rows */
tr, th {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* change background of navbar when smaller */
@media (max-width: 1000px) {
    /* overall navbar */
    .navbar {
        margin: 10px;
        background-color: #015758;
    }
    /* navbar links */
    .nav-link {
        color: white;
    }
    /* dropdown text */
    #navbarDropdownMenuLink {
        color: white;
    }

    /* enables horizontal scroll for the data table */
    table {
        display: block;
        max-width: -moz-fit-content;
        max-width: fit-content;
        margin: 0 auto;
        overflow-x: auto;
        white-space: nowrap;
    }

    /* when page is smaller - have home img take up entire space */
    #main-text {
        display: block;
    }
    #main-img {
        width: 100%;
        height: auto;
    }

}